#main{
    height: 550px;
}
#col1{

    height: 100px;
    background-color: rgb(58, 58, 131);
}
#col2{

    height: 450px;
    background-image: url("new2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    margin-top: 5%;
}
li{
    padding-left: 20%;
    font-weight: bold;
    font-size: 20px;
    color: white;
   
}
li:hover{
    cursor: pointer;
    margin-top: 5px;
    color: brown;
}
.head1{
    margin-top: 2%;
}
.head2{
    border: 1px solid black;
}
h2{
    text-decoration: underline;
    text-align: center;
}
.item1{
    margin-top: 3%;
    height: 350px;
}
.item2{
    margin-top: 3%;
    height: 350px;
    margin-left: 5%;
}
img{
    height: 350px;
}
.wrapper{
    display: flex;
}
.title{
    color: brown;
}